
.promo {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;
    padding-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-dark);
}

.buy_btn {
    width: 200px;
    height: 50px;
    background: var(--background-button-color);
    font-family: var(--text-font-family-other);
    color: var(--background-color-dark);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 3px;
}

.cta_text_wrapper {
    display: flex;
    flex-direction: column;
}

.cta_text_wrapper h1.cta_text {
    margin: 0;
    font-weight: 500;
    font-family: var(--text-font-family-other);
    width: 100%;
}

.cta_text {
    font-family: 'Dosis', sans-serif;
    color: var(--text-color-white);
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
}
