:root {
    --text-coolor-white: #ffffff;
    --text-color-dark: #4A4A4A;
    --background-color-dark: #2B4074;
    --background-color-white: #FFFFFF;
    --background-button-color: #F9F6E5;
    --text-font-family-main: 'Roboto Condensed', sans-serif;
    --text-font-family-other: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

.main {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: var(--background-color-dark);
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 11%;
    padding-right: 9%;
    display: flex;
}

.menu_button {
    align-items: center;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    background-color: var(--background-color-white);
}

.header__logo {
    width: 100px;
    height: 65.73px;
}

.intro {
    color: var(--text-coolor-white);
    font-family: var(--text-font-family-main);
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: bottom;
    position: relative;
    background-image: url('../images/bg-img.jpg');
    min-height: 668px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.intro_text {
    font-family: var(--text-font-family-main);
    font-size: 24px;
    font-weight: 400;
}

main_title {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    font-family: var(--text-font-family-main);
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: bottom;
    text-transform: uppercase;
    margin: 0;
}

.read_more_btn {
    background-color: var(--background-color-dark);
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--text-font-family-other);
    color: var(--text-coolor-white);
    width: 200px;
    height: 50px;
}

.carousel {
    display: flex;
    justify-content: space-between;
}

.arrows {
    position: absolute;
    height: 141px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left_arrow_btn .material-symbols-sharp {
    font-size: 50px;
    color: var(--background-color-white);
}

.right_arrow_btn .material-symbols-sharp {
    font-size: 50px;
    color: #929292;
}

.left_arrow_btn {
    background: var(--background-color-dark);
    width: 70px;
    height: 70px;
    padding-top: 6px;
    padding-left: 10px;
}

.right_arrow_btn {
    background: var(--background-button-color);
    width: 70px;
    height: 70px;
    padding-top: 6px;
    padding-left: 10px;
}

.pagination {
    width: 50px;
}

.indicator {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: var(--background-color-white);
    padding: 0;
    border: 1px var(--background-color-white) solid;
}

.indicator.active {
    background-color: transparent;
    cursor: default;
}

.promo {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;
    padding-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-dark);
}

.buy_btn {
    width: 200px;
    height: 50px;
    background: var(--background-button-color);
    font-family: var(--text-font-family-other);
    color: var(--background-color-dark);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 3px;
}

.cta_text_wrapper {
    display: flex;
    flex-direction: column;
}

.cta_text_wrapper h1.cta_text {
    margin: 0;
    font-weight: 500;
    font-family: var(--text-font-family-other);
    width: 100%;
}

.cta_text {
    font-family: 'Dosis', sans-serif;
    color: var(--text-coolor-white);
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 2%;
}

.services_text_description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.7%;
    margin-top: 2%;
    max-width: 30%;
}

.services_text_description>div {
    margin-top: 4%;
    margin-bottom: 4%;
}

.services_text_head {
    font-family: var(--text-font-family-main);
    font-size: 48px;
    color: var(--background-color-dark);
    font-weight: 400;
    padding-bottom: 10px;
}

.services_text_main {
    font-family: var(--text-font-family-other);
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    color: var(--text-color-dark);
    position: relative;
    padding-top: 2px;
    padding-bottom: 40px;
}

.services_text_main::after {
    content: "";
    bottom: 0;
    position: absolute;
    left: 0;
    height: 8px;
    width: 100px;
    background-color: var(--background-color-dark);
}

.services_text_content {
    font-family: var(--text-font-family-other);
    line-height: 24px;
    color: var(--background-color-dark);
    font-size: 18px;
}

.services_items {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--background-button-color);
}

.serv_item_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-white);
    margin: 1px;
    min-width: 222px;
    min-height: 255px;
}

.serv_item_btn:hover {
    outline: 3px solid var(--background-color-dark);
    outline-offset: -3px;
}

.service_image {
    mask-image: url("../images/services/item1.png");
    -webkit-mask-image: url("../images/services/item1.png");
    /* Це дозволить міняти картинки в HTML */
   /* mask-image: var(--image-url);*/

    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    /* КОЛІР: тепер ви можете задати будь-який колір для всіх іконок одразу */
    background-color: var(--background-color-dark);
}